<!-- Partners -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header"><em>Partners</em></h2>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="http://www.anffasonluspatti.it/"><img class="img-responsive customer-img" src="/assets/partners/anffas.jpg" alt="anffas"></a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="http://www.consorzioarca.it/index.php/it/"><img class="img-responsive customer-img" src="/assets/partners/arca.jpg" alt="arca"></a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="http://www.ordingme.it/"><img class="img-responsive customer-img" src="/assets/partners/ing.jpg" alt="ing"></a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="http://www.archme.it/"><img class="img-responsive customer-img" src="/assets/partners/arch.jpg" alt="arch"></a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="http://www.enea.it/it"><img class="img-responsive customer-img" src="/assets/partners/enea.jpg" alt="enea"></a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="http://www.gdgnebrodi.info/"><img class="img-responsive customer-img" src="/assets/partners/gdgnebrodi.jpg" alt="gdgnebrodi"></a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="http://www.parcodeinebrodi.it/"><img class="img-responsive customer-img" src="/assets/partners/parcodeinebrodi.jpg" alt="parcodeinebrodi"></a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="https://www.facebook.com/legambiente.circolonebrodi/"><img class="img-responsive customer-img" src="/assets/partners/legambiente.jpg" alt="legambiente"></a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="http://opendatasicilia.it/"><img class="img-responsive customer-img" src="/assets/partners/opendatasicilia.jpg" alt="opendatasicilia"></a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="https://openpatti.wordpress.com/"><img class="img-responsive customer-img" src="/assets/partners/openpatti.jpg" alt="openpatti"></a>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="http://urbanfuture.org/"><img class="img-responsive customer-img" src="/assets/partners/ufo.jpg" alt="ufo"></a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="http://www.unipa.it/"><img class="img-responsive customer-img" src="/assets/partners/unipa.jpg" alt="unipa"></a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="http://www.unipa.it/dipartimenti/diarchitettura"><img class="img-responsive customer-img" src="/assets/partners/darch.jpg" alt="darch"></a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="http://www.unipa.it/dipartimenti/dicam"><img class="img-responsive customer-img" src="/assets/partners/dicam.jpg" alt="dicam"></a>
    </div>

</div>
<!-- /.row -->
