<!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <!--
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
            <li data-target="#myCarousel" data-slide-to="6"></li>
            <li data-target="#myCarousel" data-slide-to="7"></li>
            <li data-target="#myCarousel" data-slide-to="8"></li>
        </ol>
      -->

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('/assets/slider/copertina-2.jpg');"></div>
              <!--  <div class="carousel-caption">
                    <h2 class="text-rosso">CFP - SMART GIOIOSA</h2>
                </div>-->
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/assets/slider/people-2.jpg');"></div>
                <!--<div class="carousel-caption">
                  <h2 class="text-verde-chiaro">CFP - SMART GIOIOSA</h2>
                </div>-->
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/assets/slider/ambiente-2.jpg');"></div>
                <!--<div class="carousel-caption">
                  <h2 class="text-blu">CFP - SMART GIOIOSA</h2>
                </div>-->
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/assets/slider/urbanistica-2.jpg');"></div>
                <!--<div class="carousel-caption">
                  <h2 class="text-blu">CFP - SMART GIOIOSA</h2>
                </div>-->
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/assets/slider/internet-2.jpg');"></div>
                <!--<div class="carousel-caption">
                  <h2 class="text-blu">CFP - SMART GIOIOSA</h2>
                </div>-->
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/assets/slider/government-2.jpg');"></div>
                <!--<div class="carousel-caption">
                  <h2 class="text-blu">CFP - SMART GIOIOSA</h2>
                </div>-->
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/assets/slider/school-2.jpg');"></div>
                <!--<div class="carousel-caption">
                  <h2 class="text-blu">CFP - SMART GIOIOSA</h2>
                </div>-->
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/assets/slider/idea-2.jpg');"></div>
                <!--<div class="carousel-caption">
                  <h2 class="text-blu">CFP - SMART GIOIOSA</h2>
                </div>-->
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/assets/slider/smart-2.jpg');"></div>
                <!--<div class="carousel-caption">
                  <h2 class="text-blu">CFP - SMART GIOIOSA</h2>
                </div>-->
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
