<!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
            <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('/assets/faq-banner-1.jpg');"></div>
       </div>
  </header>
