<!-- Sponsors -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header"><em>Sponsors<em></h2>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="http://www.lemonplus.it/"><img class="img-responsive customer-img" src="/assets/sponsors/EUROFOOD.jpg" alt="eurofood"></a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="http://www.agoghe.eu/"><img class="img-responsive customer-img" src="/assets/sponsors/agoghe.jpg" alt="agoghe"></a>
    </div>

</div>
<!-- /.row -->
