
    <br>
    <div class="alert alert-danger" role="alert"> <h3><p class="text-center">Call for Proposals "Smart Gioiosa" - PROROGA TERMINI DI SCADENZA - <%= link_to "DETTAGLI", "http://cfp.smartgioiosa.it/alerts"%></p></h3> </div>

  <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header text-center">
            <em>Call For Proposals - Smart Gioiosa</em>
        </h1>
    </div>
  <div class="col-lg-12">
    <h1 class="text-center text-muted">
      <small>
    Vuoi essere <strong class="text-verde-scuro">#PROTAGONISTA</strong> del cambiamento valorizzando il tuo <strong class="text-verde-chiaro">#TALENTO</strong> e le tue <strong class="text-verde-scuro">#COMPETENZE?</strong>
    Hai un'idea <strong class="text-verde-chiaro">#INNOVATIVA</strong> ma non sai a chi proporla?
    Cosa aspetti, partecipa anche tu a Smart Gioiosa: concorso di idee per la realizzazione di smart cities nel territorio dei Nebrodi.
    <br>
    <br>
    <em class="text-blu">#call</em> <em class="text-verde-chiaro">#proposal</em> <em class="text-giallo">#smartgioiosa</em> <em class="text-muted">#nebrodi</em> <em class="text-rosso">#people</em> <em class="text-rosso">#living</em> <em class="text-verde-scuro">#energia</em> <em class="text-verde-scuro">#ambiente</em> <em class="text-indaco">#urbanistica</em> <em class="text-indaco">#mobilità</em> <em class="text-blu">#iot</em> <em class="text-blu">#internet</em> <em class="text-giallo">#governance</em> <em class="text-celeste">#school</em>
  </small>
    </h1>

</div>
</div>
