<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">
          Call For Proposals - Smart Gioiosa
      </h1>
  </div>
  <div class="col-md-4">
      <div class="panel panel-blu">
          <div class="panel-heading panel-heading-blu">
              <h4><i class="fa fa-fw fa-check"></i> People & Living</h4>
          </div>
          <div class="panel-body">
              <p>In questo ambito rientrano sia le iniziative legate a digital divide e
alfabetizzzione, inclusione, istruzione e formazione, informazione e
sensibilizzazione, partecipazione e coinvolgimento, food e sicurezza alimentare che
quelle legate alla valorizzazione e al mantenimento del patrimonio culturale e ad una
sua fruizione più intelligente mediante servizi a supporto del turismo, della cultura e
del tempo libero.</p>
              <!--<button type="button" class="btn btn-blu" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>-->
              <a href="#" class="btn btn-blu" data-toggle="modal" data-target="#myModal">Dettagli</a>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">People&Living</h4>
                  </div>
                  <div class="modal-body">
                    <h3>People</h3>
                    <p>Non ci sono città smart abitate da cittadini stupidi. Motivo per cui, una smart city dota i suoi cittadini degli strumenti necessari alla partecipazione: infrastrutture, ma anche campagne di sensibilizzazione e formazione. E’ dunque nell’ambito people che trovano spazio le iniziative legate a: digital divide e alfabetizzazione, inclusione, istruzione e formazione, informazione e sensibilizzazione, partecipazione e coinvolgimento, food e sicurezza alimentare.</p>
                    <hr>
                    <h3>Living</h3>
                    <p>In questo ambito rientrano le iniziative volte a migliorare la vivibilità urbana e con essa anche migliorare i servizi che il settore pubblico offre al cittadino. Primo fra tutti il bisogno di avere una sanità e un sistema di welfare più efficiente e maggiormente inclusivo. Anche il tema della sicurezza delle città ha un grande spazio all’interno di tale ambito. Non meno centrali rispetto al tema Living risultano i progetti finalizzati alla valorizzazione e al mantenimento del patrimonio culturale e dei propri asset, e ad una fruizione più intelligente di questi, mediante servizi a supporto del turismo, della cultura e del tempo libero</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>



          </div>
      </div>
  </div>
  <!--
  <div class="col-md-4">
      <div class="panel panel-viola">
          <div class="panel-heading panel-heading-viola">
              <h4><i class="fa fa-fw fa-gift"></i> Free &amp; Open Source</h4>
          </div>
          <div class="panel-body">
              <p>In questo ambito rientrano sia le iniziative legate a digital divide e alfabetizzazione, inclusione, istruzione e formazione, informazione e sensibilizzazione, partecipazione e coinvolgimento, food e sicurezza alimentare che quelle legate alla valorizzazione e al mantenimento del patrimonio culturale e ad una sua fruizione più intelligente mediante servizi a supporto del turismo, della cultura edel tempo libero.</p>
              <a href="#" class="btn btn-viola">Learn More</a>
          </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="panel panel-indaco">
          <div class="panel-heading panel-heading-indaco">
              <h4><i class="fa fa-fw fa-compass"></i> Easy to Use</h4>
          </div>
          <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
              <a href="#" class="btn btn-default">Learn More</a>
          </div>
      </div>
  </div>
-->
</div>
<!-- /.row -->
