<div class="row" id="admin">
  <div class="col-md-9">
    <header>
      <h1>DASHBOARD - CFP SMART GIOIOSA </h1>
    </header>

    <p>Benvenuti nel pannello di controllo CFP - SMART GIOIOSA</p>
  </div>

  <div class="col-md-3">
    <h2>Admin Links</h2>
    <ul class="nav nav-stacked">
      <li><%= link_to "TUTTE LE PROPOSTE", admin_proposals_path %></li>
      <!--<li><%= link_to "Users", "#" %></li>
      <li><%= link_to "States", "#" %></li>-->
    </ul>
  </div>
