        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Avvisi
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li><a href="/alerts">Avvisi</a>
                    </li>
                    <li class="active">CFP VALUTATION IN PROGRESS!!!</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="/assets/valutation.jpeg" alt="Call For Proposals">
            </div>
            <div class="col-md-6">
                <h2>VALUTATION IN PROGRESS</h2>
              <p>
              <b>Call for Proposals “Smart Gioiosa” - VALUTATION IN PROGRESS</b></p>

<p>Informiamo tutti i concorrenti della I° CALL FOR PROPOSALS che le proposte sono state inoltrate alla commissione giudicatrice.
IN BOCCA AL LUPO A TUTTI e BUON LAVORO AI GIURATI!

              </p>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="/assets/scadenza.jpeg" alt="Call For Proposals">
            </div>
            <div class="col-md-6">
                <h2>PROROGA DEI TERMINI DI SCADENZA</h2>
              <p>
              <b>Call for Proposals “Smart Gioiosa” - PROROGA DEI TERMINI DI SCADENZA</b></p>

<p>È stato prorogato al 28 febbraio 2017 alle ore 12.00 il termine di presentazione delle proposte relative alla Call for Proposals “Smart Gioiosa: concorso di idee per la realizzazione di smart cities nel territorio dei Nebrodi” pubblicata sui siti <%= link_to "www.smartgioiosa.it", "http://www.smartgioiosa.it" %> e <%= link_to "cfp.smartgioiosa.it", "http://cfp.smartgioiosa.it"%> in data 08 ottobre 2016

              </p>
            </div>
        </div>
      -->
        <!-- /.row -->
