<p>Benvenuto <%= @email %>!</p>

<p>È possibile confermare il tuo account e-mail tramite il link sottostante::</p>

<p><%= link_to 'Conferma account Smart Gioiosa', confirmation_url(@resource, confirmation_token: @token) %></p>
